:root {
--bg: #304141;
--fg: #FFFFFF;
--link: #bed5cc;
--altbg: #3A4F4F;
--altfg: #D1D3BF;
}

html {
	color: var(--fg);
	background-color: var(--bg);
	line-height: 1.6;
	font-family: sans-serif;
}

body {
	max-width: 42rem;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
}

a {
	color: var(--link);
}

section {
	padding: 4rem 1rem 4rem 1rem;
	display: none;
	position: absolute;
	top: 0;
	min-height: 100vh;
	background: var(--bg);
}

section:target {
	display: block;
}

section#home {
	display: block;
}

header {
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	z-index: 2;
}
